@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=DM+Sans:opsz,wght@9..40,700&family=Lato:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
.logo{
    font-family:'Allerta Stencil';
    font-size: 22px;
    color:#A18A68;
    display: flex;
    justify-content: flex-start;
    align-items:first baseline ;

}
.logo span{
    font-family:'Allerta Stencil';
    font-size: 22px;
    color:#686AA1;
}

header nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
}
header nav .logo {
    margin: 20px 0;
}
header nav .items {
    display: flex;
}
header nav ul {
    display: flex;
    align-items: center;
    margin-right: 30px;
    gap: 40px;
    border-right: 2px solid #6666665e;
    padding-right: 30px;
}
header nav ul li {
    list-style: none;
}
header nav ul li a {
    color: black;
    text-decoration: none;
    transition: 0.3 ease;
}
header nav ul li a:hover{
    color: #686AA1;
    
}
header nav .search-wrapper svg:first-child {
    margin-right: 15px;
}
header nav .search-wrapper svg:last-child {
    margin-left: 15px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.cart {
    width: 96%;
    height: 70vh;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display:block;
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
input#product1.product-checkbox{
    margin-right: 15px;
}
.product.selected {
    background-color: #f2f2f2;
}
.product img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 10px;
}

.product-details {
    flex: 1;
}

h2 {
    font-family:'DM Sans'sans-serif;
    font-size: 20px;
    margin: 0;
    color: #A18A68;
}
p {
    font-size: 0.9rem;
    margin: 5px 0;
}
span{
    font-size: 18px;
    margin: 5px 0;
    color: gold;
}
.stars {
    color: #FFD700;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
} 

.product-details input{
    width: 50px;
    height: 30px;
    background-color: #A18A68;
    border-radius: 10px;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
}
.total{
    display: flex;
    justify-content: flex-end;
    gap:10px;
}
.total p{
    text-align: center;
    color: black;
    font-size: 18px;
}
.checkout-button {
    background-color: #A18A68;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.checkout-button:hover{
background-color:#686AA1;
}
section{
    padding-bottom: 160px;
}
footer{
    margin-left: 30px;
    gap: 40px;
    border-top: 2px solid #6666665e;
    padding-left: 30px; 
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}
footer .menu {
    display:flex;
    gap: 20px;
    text-decoration: none;
    padding-bottom: 20px;
}
footer .menu a{
    color: grey;
    text-decoration: none;
}
footer{
    width: 85%;

}
.footer{
    display: flex;  
    justify-content: space-between;
    margin: 20px 0;
    color: #707070;
}
.top{
    display: flex;
    justify-content: space-between;
    padding-bottom:8px ;
    margin-bottom: 10px;
    border-bottom: #333 solid 1px;
}
.input{
    width: 30%;
}
.email{
    border: none;
    width: 300px;
}
.social{
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 20px;
}